@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Dark mode styles */
body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* CodeMirror Styles */
.cm-editor {
  height: 100% !important;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cm-scroller {
  overflow: auto;
  padding: 0.5rem;
}

#giturl {
  color: black;
}

.ulist ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Ensure Highlight.js styles take precedence */
pre, code {
  all: unset;
}

/* Smooth slide and curve animations */
.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}
